:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;

  background-color: var(--bg-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color */
  --bg-color:#18181b;
  --red-color:#f65555;
  --white-color:#fafafa;
  --orange-color:#f68956;
  color: var(--white-color);


  /* font-size */
`
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  
}






